//Dark Mode
$white: #ffffff;
$black: #000000;
$purple: #800080FF;

//Pages
.Dashboard {}
.Landing {}

//Tabs
.Home {}
.Stocks {
 color: $white;
 background-color: $black;
}
.Options {}

//Components
.NavBar {
 background-color: $black;
 .Tabs {
  color: $white;
  border-color: $black;
  background-color: purple;
 }
}


//Misc
.Button {
 color: $white;
 background-color: $purple;
}
